@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

body {
  margin: 0px !important;
  font-family: 'Rubik', sans-serif !important;
}

.ant-typography {
  font-family: 'Rubik', sans-serif !important;
}

.no-text-decorations {
  text-decoration: none;
}

.header__avatar canvas {
  border-radius: 50%;
  margin-right: 5px;
}