@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

body {
  margin: 0px !important;
  font-family: 'Rubik', sans-serif !important;
}

.text-primary {
  color: #01b47e !important;
}

.ant-typography {
  font-family: 'Rubik', sans-serif !important;
}

.no-text-decorations {
  text-decoration: none;
}

.header__avatar canvas {
  border-radius: 50%;
  margin-right: 5px;
}

.nft-square-card {
  border-radius: 0 !important;
}

.view-full-property-bg {
  background-color: #01b47e;
  border-radius: 0 0 5px 5px;
  height: 23px;
  cursor: pointer;
}

.property-description {
  font-weight: 400;
  line-height: 30px;
}

.property-image {
  width: 100%;
  height: auto;
}

.options-section {
  line-height: 30px;
}

.gold-text {
  color: #ffd700;
}

.silver-text {
  color: #c0c0c0;
}

.bronze-text {
  color: #cd7f32;
}

.standard-text {
  color: #2dc2b1;
}

.standard-nft-bg {
  /* filter: drop-shadow(0 0px 50px #2dc2b1); */
  border: 2px solid #2dc2b1;
}

.bronze-nft-bg {
  /* filter: drop-shadow(0 0px 50px #cd7f32); */
  border: 2px solid #cd7f32;
}

.silver-nft-bg {
  /* filter: drop-shadow(0 0px 50px #c0c0c0); */
  border: 2px solid #c0c0c0;
}

.gold-nft-bg {
  /* filter: drop-shadow(0 0px 50px #ffd700); */
  border: 2px solid #ffd700;
}

.standard-nft-btn {
  background: #2dc2b1;
}

.bronze-nft-btn {
  background: #cd7f32;
}

.silver-nft-btn {
  background: #c0c0c0;
}

.gold-nft-btn {
  background: #ffd700;
}

.image-container {
  position: relative;
  display: inline-block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Overlay background color with transparency */
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay p {
  color: white;
  margin-top: 12px;
}

/* center a div */
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}