@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

body {
  margin: 0px !important;
  font-family: 'Rubik', sans-serif !important;
}

.ant-typography {
  font-family: 'Rubik', sans-serif !important;
}

.no-text-decorations {
  text-decoration: none;
}

.header__avatar canvas {
  border-radius: 50%;
  margin-right: 5px;
}

.nft-square-card {
  border-radius: 0 !important;
}

.view-full-property-bg {
  background-color: #01b47e;
  border-radius: 0 0 5px 5px;
  height: 23px;
  cursor: pointer;
}

.property-description {
  font-weight: 400;
  line-height: 30px;
}

.property-image {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.options-section {
  line-height: 30px;
}

.gold-text {
  color: #FFD700;
}

.silver-text {
  color: #C0C0C0;
}

.bronze-text {
  color: #CD7F32;
}

.standard-text {
  color: #2DC2B1;
}