body {
  background: #0F1113 !important;
}

.nft-header {
  background: #181C1F;
  border-bottom: 1px solid #313135;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.4);
}

.text-primary {
  color: #01B47E !important;
}

.footer-bg {
  background: #0F1113;
}

.nft-dark-card {
  background: #181C1F;
}

.standard-nft-card{
  position: relative;
  background: #181C1F;
  border: none !important;
  border-radius: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
  text-align: center;
}

.standard-nft-card .main-div{
  border-radius: 0 !important;
  background: #181C1F;
  z-index: 1;
  width: 100%;
}

.bronze-nft-card{
  position: relative;
  background: #181C1F;
  border: none !important;
  border-radius: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
  text-align: center;
}

.bronze-nft-card .main-div{
  border-radius: 0 !important;
  background: #181C1F;
  z-index: 1;
  width: 100%;
}

.silver-nft-card{
  position: relative;
  background: #181C1F;
  border: none !important;
  border-radius: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
  text-align: center;
}

.silver-nft-card .main-div{
  border-radius: 0 !important;
  background: #181C1F;
  z-index: 1;
  width: 100%;
}

.gold-nft-card{
  position: relative;
  background: #181C1F;
  border: none !important;
  border-radius: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
  text-align: center;
}

.gold-nft-card .main-div{
  border-radius: 0 !important;
  background: #181C1F;
  z-index: 1;
  width: 100%;
}

.count-container {
  background: #22282C;
  border-radius: 72.5713px;
}

.count-button {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.03);
  border: none !important;
}

/* .standard-nft-card::after {
  content: '';
  position: absolute;
  width: 600px;
  height: 780px;
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #2dc2b1
  );
  animation: animate 5s linear infinite;
  animation-delay: -2s;
  z-index: 0;
}

.standard-nft-card::before {
  content: '';
  position: absolute;
  width: 600px;
  height: 780px;
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #2dc2b1
  );
  animation: animate 5s linear infinite;
  z-index: 0;
}

.bronze-nft-card::after {
  content: '';
  position: absolute;
  width: 600px;
  height: 780px;
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #cd7f32
  );
  animation: animate 5s linear infinite;
  animation-delay: -2s;
  z-index: 0;
}

.bronze-nft-card::before {
  content: '';
  position: absolute;
  width: 600px;
  height: 780px;
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #cd7f32
  );
  animation: animate 5s linear infinite;
  z-index: 0;
}

.silver-nft-card::after {
  content: '';
  position: absolute;
  width: 600px;
  height: 780px;
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #c0c0c0
  );
  animation: animate 5s linear infinite;
  animation-delay: -2s;
  z-index: 0;
}

.silver-nft-card::before {
  content: '';
  position: absolute;
  width: 600px;
  height: 780px;
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #c0c0c0
  );
  animation: animate 5s linear infinite;
  z-index: 0;
}

.gold-nft-card::after {
  content: '';
  position: absolute;
  width: 600px;
  height: 780px;
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #ffd700
  );
  animation: animate 5s linear infinite;
  animation-delay: -2s;
  z-index: 0;
}

.gold-nft-card::before {
  content: '';
  position: absolute;
  width: 600px;
  height: 780px;
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #ffd700
  );
  animation: animate 5s linear infinite;
  z-index: 0;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
} */

.ant-table-thead > tr >th{
  background: #22282C !important;
}

.table-row-light {
  background: #22282C !important;
}

.standard-nft-card::after {
  content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, transparent, transparent, transparent, transparent, #8df2e7, #2dc2b1, #039181);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: steam 20s linear infinite;
  z-index: 0;
}

.bronze-nft-card::after {
  content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, transparent, transparent, transparent, transparent, #f0a151, #cd7f32, #5c2e01);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: steam 20s linear infinite;
  z-index: 0;
}

.silver-nft-card::after {
  content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, transparent, transparent, transparent, transparent, #f5f2f2, #c0c0c0, #4f4e4e);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: steam 20s linear infinite;
  z-index: 0;
}

.gold-nft-card::after {
  content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, transparent, transparent, transparent, transparent, #fce351, #ffd700, #c2a504);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: steam 20s linear infinite;
  z-index: 0;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}