body {
  background: #EEEEEE !important;
}

.nft-header {
  background: #303E4E;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.text-primary {
  color: #01B47E !important;
}

.footer-bg {
  background:#EEEEEE;
}

.standard-nft-card{
  position: relative;
  background: #fff;
  border: none !important;
  border-radius: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
  text-align: center;
}

.standard-nft-card .main-div{
  border-radius: 0 !important;
  background: #fff;
  z-index: 1;
  width: 100%;
}

.bronze-nft-card{
  position: relative;
  background: #fff;
  border: none !important;
  border-radius: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
  text-align: center;
}

.bronze-nft-card .main-div{
  border-radius: 0 !important;
  background: #fff;
  z-index: 1;
  width: 100%;
}

.silver-nft-card{
  position: relative;
  background: #fff;
  border: none !important;
  border-radius: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
  text-align: center;
}

.silver-nft-card .main-div{
  border-radius: 0 !important;
  background: #fff;
  z-index: 1;
  width: 100%;
}

.gold-nft-card{
  position: relative;
  background: #fff;
  border: none !important;
  border-radius: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
  text-align: center;
}

.gold-nft-card .main-div{
  border-radius: 0 !important;
  background: #fff;
  z-index: 1;
  width: 100%;
}

.count-container {
  background: #f0f0f0;
  border-radius: 72.5713px;
}

.count-button {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: #d9d9d9;
  border: none !important;
}

/* .standard-nft-card::after {
  content: '';
  position: absolute;
  width: 600px;
  height: 780px;
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #2dc2b1
  );
  animation: animate 5s linear infinite;
  animation-delay: -2s;
  z-index: 0;
}

.standard-nft-card::before {
  content: '';
  position: absolute;
  width: 600px;
  height: 780px;
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #2dc2b1
  );
  animation: animate 5s linear infinite;
  z-index: 0;
}

.bronze-nft-card::after {
  content: '';
  position: absolute;
  width: 600px;
  height: 780px;
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #cd7f32
  );
  animation: animate 5s linear infinite;
  animation-delay: -2s;
  z-index: 0;
}

.bronze-nft-card::before {
  content: '';
  position: absolute;
  width: 600px;
  height: 780px;
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #cd7f32
  );
  animation: animate 5s linear infinite;
  z-index: 0;
}

.silver-nft-card::after {
  content: '';
  position: absolute;
  width: 600px;
  height: 780px;
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #c0c0c0
  );
  animation: animate 5s linear infinite;
  animation-delay: -2s;
  z-index: 0;
}

.silver-nft-card::before {
  content: '';
  position: absolute;
  width: 600px;
  height: 780px;
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #c0c0c0
  );
  animation: animate 5s linear infinite;
  z-index: 0;
}

.gold-nft-card::after {
  content: '';
  position: absolute;
  width: 600px;
  height: 780px;
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #ffd700
  );
  animation: animate 5s linear infinite;
  animation-delay: -2s;
  z-index: 0;
}

.gold-nft-card::before {
  content: '';
  position: absolute;
  width: 600px;
  height: 780px;
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #ffd700
  );
  animation: animate 5s linear infinite;
  z-index: 0;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
} */

.ant-table-thead > tr >th{
  background: #303E4E !important;
}

.table-row-light {
  background: #d9d9d9 !important;
}

.ant-drawer-body {
  background-color: #303E4E !important;
  color: #fff !important;
}

.standard-nft-card::after {
  content: '';
  position: absolute;
  width: 200%;
  height: 200%;
  background-image: conic-gradient(#2dc2b1 45deg, transparent 45deg);
  animation: rotate 5s linear infinite;
  z-index: 0;
}

.bronze-nft-card::after {
  content: '';
  position: absolute;
  width: 200%;
  height: 200%;
  background-image: conic-gradient(#cd7f32 45deg, transparent 45deg);
  animation: rotate 5s linear infinite;
  z-index: 0;
}

.silver-nft-card::after {
  content: '';
  position: absolute;
  width: 200%;
  height: 200%;
  background-image: conic-gradient(#c0c0c0 45deg, transparent 45deg);
  animation: rotate 5s linear infinite;
  z-index: 0;
}

.gold-nft-card::after {
  content: '';
  position: absolute;
  width: 200%;
  height: 200%;
  background-image: conic-gradient(#ffd700 45deg, transparent 45deg);
  animation: rotate 5s linear infinite;
  z-index: 0;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}


.nft-card {
  position: relative;
  background: #fff;
  border: none !important;
  border-radius: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
}